@charset "utf-8";
h2 {
    margin-top: 75px;
    text-align: center;
    
}
p {
    text-align: center;
    
}
h4 {
    text-align: center;
    color: #2f3a44;
    font-family: serif;
    
}
a {
    text-align: center;
    color: #2f3a44;
    padding-left: 50%;
    padding-right: 50%;
}